{% extends '../base.html' %}

{% block title %}
Все посты
{% endblock %}

{% block content %}

<div style="margin-bottom: 1%;">
    {% include 'messages.html' %}
</div>

{% for post in posts %}
<div class="col-lg-6" style="margin-bottom: 50px;">
    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title|truncatewords:10|truncatechars:50 }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post.created_at|date:"F j, Y" }}
              <a class="text-decoration-none" href="{% url 'user-profile' post.author.username %}">{{ post.author.username }}</a>
            </div>
        </header>
        <!-- Preview image figure-->
        {% if post.image %}
        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image.url }}" alt="..." style="height: 325px;" /></figure>
        {% endif %}
        <!-- Post content-->
        <section class="mb-5">
            <p class="col-lg-10" style="width: 90%;">{{ post.text|truncatewords:10|truncatechars:50 }}</p>
        </section>
        <a href="{% url 'post-detail' post.slug %}" class="btn btn-outline-dark">Подробнее</a>
        {% if user.is_staff %}
            <a href="{% url 'post-update' post.slug %}" class="btn btn-outline-success">
                Править
            </a>
            <a href="{% url 'post-delete-confirm' post.slug %}" class="btn btn-outline-danger">
                Удалить
            </a>                                
        {% endif %}
    </article>
</div>
{% endfor %}

{% endblock %}