<!-- Side widgets-->
<div class="col-lg-4" style="position: fixed; bottom: 350px; right: 300px; width: 500px;">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Поиск</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Введите запрос..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Искать!</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Dream Team</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li>XVKU</li>
                        <li>BACQUE</li>
                        <li>YATO</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li>MIKE4</li>
                        <li>CSS</li>
                        <li>ASS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
    </div>
</div>